html{
    font-family: 'Dongle', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

nav{
    transition: all 0.3s ease;
    position: fixed;
    width: 100%;
    padding: 20px 0;
    z-index: 998;
}

nav.sticky{
    background: #fff;
    padding: 15px 0;
}

nav .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

nav .header .logo a{
    display: flex;
  	line-height: 100%;
    font-weight: 500;
    font-size: 75px;
    color: #fff;
}

nav.sticky .header .logo a{
    color: #000;
}

nav .header .logo a svg .logopath{
    fill: #fff;
}

nav.sticky .logo a svg .logopath{
    fill: #0078d7;
}

nav .header .menu{
    position: relative;
    display: flex;
}

nav .header .menu li{
    margin: 0 8px;
    list-style: none;
}

nav .header .menu a{
    transition: all 0.3s ease;
    color: #fff;
    font-size: 35px;
    font-weight: 500;
    padding: 6px 0;
}

nav .header .menu a:hover{
    color: #bee2ff;
    filter: drop-shadow(0 12px 16px #40404077);
    font-size: 45px;
}

nav.sticky .menu a{
    color: #000;
}

nav.sticky .menu a:hover{
    color: #0078d7;
    filter: drop-shadow(0 12px 16px #40404077);
    font-size: 45px;
}

nav .header .menu a:active{
    filter: drop-shadow(0 1px 1px #40404077);
    font-size: 25px;
}

nav.sticky .menu a:active{
    filter: drop-shadow(0 1px 1px #40404077);
    font-size: 25px;
}

nav .header .media-icons a{
    transition: all 0.3s ease;
    font-size: 20px;
    color: #fff;
    margin: 0 6px;
}

nav.sticky .media-icons a{
    color: #000;
}

nav .header .media-icons a:hover{
    color: #bee2ff;;
    filter: drop-shadow(0 12px 16px #40404077);
    font-size: 30px;
}

nav.sticky .media-icons a:hover{
    color: #0078d7;
    filter: drop-shadow(0 12px 16px #40404077);
    font-size: 30px;
}

nav .header .media-icons a:active{
    filter: drop-shadow(0 1px 1px #40404077);
    font-size: 15px;
}

nav.sticky .media-icons a:active{
    filter: drop-shadow(0 1px 1px #40404077);
    font-size: 15px;
}

nav .menu-btn,
.header .menu .cancel-btn{
    transition: all 0.3s ease;
    color: #fff;
    position: absolute;
    display: none;
    right: 30px;
    top: 40px;
    font-size: 20px;
    cursor: pointer;
}

nav.sticky .menu-btn{
    color: #0078d7;
}

.header .menu .menu-btn{
    color: #fff;
}

section{
    padding-top: 50px;
    padding-left: 25px;
}

.home{
    height: 200vh;
    width: 100%;
    padding-top: 100px;
}

.sectiontitle{
    font-size:80px;
    padding-left: 20px;
}

.videos{
    padding-left: 0px;
}

.allvids{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.vidcontainer{
    flex: 0 0 33.33333%;
    max-width: 100%;
    padding: 10px;
    align-items: center;
}

.wrapper{
    display: inline-block;
}

.cropper {
    transition: all 0.3s ease;
    width: 320px;
    height: 180px;
    overflow: hidden;
}

.cropper:hover{
    transform: scale(1.05);
    filter: drop-shadow(0 12px 16px #40404077);

}

.cropper:active{
    filter: drop-shadow(0 1px 1px #40404077);
    transform: scale(0.95);
}

.thumbs{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wraptitle{
    display: flex;
}

.wraptitle div{
    font-size: 20px;
    flex-grow: 1;
    width: 0;
    text-align: center;
    line-height: 1;
}

.more:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transform: scale(1.05);
}

.more:focus {
    outline: none;
}

.more:active {
    box-shadow: 0 1px rgba(0,0,0,0.24);
    transform: scale(0.95);
}

.more {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    background-color: #0078d7;
    color: #fff;
    border: none;
    font-size: 50px;
    font-family: 'Dongle';
    white-space: pre;
    line-height: calc(100% + 15px);
    height: 60px;
    width: 20%;
    min-width: min-content;
    text-align: center;
    border-radius: 10px;
    margin-top: 30px;
    display: inline-block;
}

.morewrap{
    width: 100%;
    text-align: center;
}

.subCount{
    font-size: 150px;
    color: #fff;
}

.join{
    color: #fff;
    font-size: 40px;
}

.btt:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transform: scale(1.05);
}

.btt:focus {
    outline: none;
}

.btt:active {
    box-shadow: 0 1px rgba(0,0,0,0.24);
    transform: scale(0.95);
}

.btt {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    background-color: #fff;
    color: #0078d7;
    border: none;
    font-size: 60px;
    font-family: 'Dongle';
    white-space: pre;
    line-height: calc(100% + 10px);
    height: 60px;
    width: 20%;
    min-width: min-content;
    text-align: center;
    border-radius: 10px;
    margin-top: 30px;
}

.about{
    background-image: linear-gradient(#008fff44, #0078d744);
}

@media (max-width: 900px) {
    nav .header{
      width: 90%;
    }
    nav .header .menu{
      position: fixed;
      left: -100%;
      top: 0;
      background: #00182c;
      height: 100vh;
      max-width: 400px;
      width: 100%;
      padding-top: 70px;
      flex-direction: column;
      align-items: center;
      transition: all 0.5s ease;
    }

    .header.active .menu{
      left: 0;
    }

    nav .header .menu a{
      font-size: 25px;
      display: block;
      color: #fff;
      margin: 10px 0;
    }

    nav .header .logo a{
        display: flex;
  	    line-height: 110%;
        font-size: 60px;
    }

    nav .header .logo a svg{
        width: 60px;
        height: 60px;
    }

    nav .header .menu a:hover{
        color: #008fff;
        filter: drop-shadow(0 12px 16px #40404077);
        font-size: 40px;
    }

    nav .header .menu a:active{
        filter: drop-shadow(0 1px 1px #40404077);
        font-size: 18px;
    }

    nav .header .media-icons{
      display: none;
    }

    nav .menu-btn,
    .header .menu .cancel-btn{
      display: block;
    }

    .btt{
        font-size: 35px;
        height: 40px;
    }

    .more{
        font-size: 35px;
        height: 40px;
    }

    .sectiontitle{
        font-size: 40px;
        padding: 10px;
    }
}